.example-card {
  max-width: 400px;
  background-color: #DCE8E8;
  border: none;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}